[Unit]
Description=Generic I2C sensor monitor service
After=local-fs.target network-online.target

[Service]
Type=exec
ExecStart=/usr/bin/i2c-sensor-server
User=root
Restart=always
RestartSec=2
EnvironmentFile=-/etc/mu2e-tracker-i2c-sensor-tools/i2c-sensor.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
